/* initial setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: var(--lapis);
    user-select: none;
}
/* variables */
:root {
    --lapis: #33658A;
    --azure: #90d7ff;
    --light-azure: #c0e0ff;
    --light-cyan: #e1eef0;
    --cyan:#C9F9FF;
    --blue: #BFD0E0;
    --quartz: #BFACB5;
    --hide-button: #faa2cb;
    --save-button: #ff2857;
}
/* body setup */
body {
    font-family: sans-serif;
    height: 100vh;
    background-color: var(--cyan);
}
/* style settings */
div, button, textarea {
    border-radius: 10px;
}
button {
    cursor: pointer;
}
/* useful classes */
.hidden {
    display: none !important;
}
.auto-height {
    max-height: none !important;
}
.maxed {
    font-size: 2rem;
    position: absolute;
    width: 90vw;
    height: 90vh;
    max-height: 90vh !important;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: 10vw solid var(--cyan);
}


/* outer container */
.page-container {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* container of the two canvas to write the text and display the preview */
.canvas-container {
    width: 100%;
    max-height: 50%;
    /* max-height: 90%; */
    flex-grow: 1;
    display: grid;
    grid-template-columns: 39% 60%;
    grid-template-rows: 1fr;
    gap: 1%;
}



/* CANVAS */

/* common style for both the canvases */
.canvas {
    line-height: 1.7;
    text-align: center;
    overflow-y: scroll;
    font-family: sans-serif;
    padding: 2%;
    font-size: 1.31rem;
    border: 2px solid var(--lapis);
    text-wrap: break-word;
    background-color: white;
    white-space: pre-line;
    overflow-wrap: break-word;
    overflow-x: hidden;
}
.canvas::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.canvas::-webkit-scrollbar-track {
    margin: 10px;
    border-radius: 4px;
    background-color: #e7e7e7;
}

.canvas::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--lapis);
}

/* BUTTONS */

/* container to display the various buttons to insert math symbols and access various functions */
.buttons-container {
    /* background-color: blue; */
    /* width: 100%; */
    height: 50vh;
    border: 2px solid var(--lapis);
    display: grid;
    grid-template-columns: 90% 10%;
    overflow: hidden;
}
/* container for the 6 areas of buttons */
.math-symbols {
    border-radius: 0;
    height: inherit;
    background-color: var(--blue);
    display: grid;
    padding: 10px;
    grid-template-columns: 3fr 2fr 3fr 2fr 4fr 1fr;
    gap: 20px;
    grid-template-rows: 1fr;
}
/* setting up the grids for the buttons */
.math-symbols > div {
    min-height: 50%;
    max-height: 100%;
    display: grid;
    gap: 10px;
}
/* diving the insides of the areas of the buttons based on how many buttons they contain  */
.algebra, .letters {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.trig, .calculus {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.notation {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.sets {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/* styling of the buttons */
.math-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1rem; 
  /* line-height: 1; */
  font-weight: 900;
}
/* make the text larger */
.math-button > * {
  transform: scale(2); 
  transform-origin: center;
  white-space: nowrap;
}

/* formatting the action buttons */
.action-buttons {
    border-radius: 0;
    border-left: 2px solid var(--lapis);
    background-color: var(--quartz);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.action-buttons button {
    font-size: 2.5rem;
    padding: 1%;
}

.action-buttons button:active, .min-preview:active {
    background-color: var(--azure);
}
.hide-button {
    background-color: var(--hide-button);
    height: 25%;
    font-size: 3rem;
}
.show-buttons {
    background-color: var(--hide-button);
    height: 50px;
    font-size: 40px;
}
.format-buttons-container, .latex-style-container {
    display: flex;
    gap: 5%;
}
.latex-style-button {
    cursor: pointer;
    font-size: 3rem;
    flex-basis: 50%;
}
.math-inline {
    background-color: var(--azure);
}

.format-button {
    background-color: var(--light-cyan);
    width: 30%;
    font-size: 3rem;
}
.default-action-button {
    font-size: 3rem;
    background-color: var(--light-azure);
}

.hide-button:active, .show-buttons:active {
    background-color: #ffc9e2 !important;
}
.save-button:active, .min-save:active {
    background-color: #3fe972 !important;
}
.save-button {
    background-color: var(--save-button);
    height: 30%;
}

/* buttons that show when the buttons container is minimized */
.minimized-buttons {
    height: 10%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}
.min-button {
    width: 10%;
    font-size: 3rem;
    height: 100%;
}

.show-buttons {
    width: 80%;
}

.min-save {
    background-color: var(--save-button);
}
.min-preview {
    background-color: var(--light-azure);
}


/* quit preview mode */
.quit-preview-button {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    opacity: 0;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (width < 1919px) {
    .action-buttons  button {
        font-size: 2rem;
        font-weight: 600;
    }
}
@media (width < 1700px) {
    .action-buttons  button {
        font-size: 1.7rem;
        font-weight: 600;
    }
}
@media (width < 1400px) {
     .action-buttons button {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .math-button > * {
        transform: scale(1.5);
    }
}
@media (width < 1300px) {
    .action-buttons {
        border-left: 0px;
        border-top: 1px solid var(--lapis);
    }
    .buttons-container {
        display: flex;
        flex-direction: column;
        height: 60%;
        overflow-y: visible;
    }
     .math-button > * {
        transform: scale(1);
    }
}
@media (width < 900px) {
    /* body {
        height: none;
    } */
    .buttons-container {
        background-color: var(--blue);
        /* background-color: red; */
        display: grid;
        grid-template-rows: 6fr 1fr;
        grid-template-columns: 1fr;
    }
    /* .buttons-container {
        height: 1000px;
    } */
    .math-symbols {

        /* height: 1050px; */
        display: grid;
        /* flex-direction: column; */
        /* background-color: blue; */
        /* overflow: hidden; */
        grid-template-rows: 174px 116px 174px 116px 232px 58px;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .algebra {
        /* height: 1vh; */
        /* background-color: white; */
    }
    .math-symbols > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* height: 50px; */
        /* border: 1px solid blue; */
    }
    .math-button {
        /* align-self: flex-start; */
        min-width: none;
        flex-basis: 15%;
        height: 50px;
    }
    /* .action-buttons {
        align-self: flex-end;
    } */
}
@media (width < 600px) {
    .math-button {
        flex-basis: 13%;
        font-size: 0.9rem;
    }
}