/* slightly modified part of the index.css file's preview options to display the canvas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: var(--lapis);
    user-select: none;
}

:root {
    --lapis: #33658A;
    --cyan:#C9F9FF;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background-color: var(--cyan);
}

.canvas {
    border-radius: 10px;
    margin: 2.5vh;
    line-height: 1.7;
    text-align: justify;
    height: 95vh;
    overflow-y: scroll;
    font-family: sans-serif;
    padding: 1%;
    font-size: 1.31rem;
    border: 2px solid var(--lapis);
    text-wrap: break-word;
    background-color: white;
    white-space: pre-line;
    overflow-wrap: break-word;
}
.canvas::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.canvas::-webkit-scrollbar-track {
    margin: 10px;
    border-radius: 4px;
    background-color: #e7e7e7;
}

.canvas::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--lapis);
}